<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      <!--The <em>best</em> pasta-->
      <span> CSV Import</span>
    </ng-template>
    <p>CSV Grid Components</p>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <span> UPX Imports</span>
    </ng-template>
    <p>UPX Grid Components</p>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <span> EDM Imports</span>
    </ng-template>
    <p>EDM Grid Components</p>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <span> Accord Imports </span>
    </ng-template>
    <p>Accord Grid Components</p>
  </md-tab>
</md-tab-group>
