
<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      <!--The <em>best</em> pasta-->
      <span> CSV Import</span>
    </ng-template>
  <tslite-csv-imports></tslite-csv-imports>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <span> UPX Imports</span>
    </ng-template>
<tslite-upx-imports></tslite-upx-imports>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <span> EDM Imports</span>
    </ng-template>
    <p>EDM Grid Components</p>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <span> Accord Imports </span>
    </ng-template>
    <p>Accord Grid Components</p>
  </md-tab>
</md-tab-group>